body {
  padding: 10px;
}

.container {
  padding-bottom: 20px;
  padding-top: 20px;
}

.shopping-cart {
  padding: 20px 10px 10px 10px;
}

.cart {
  padding: 20px 10px 10px 0px;
}

.welcome {
  padding: 20px 0px 20px 0px;
}

th.col-sm {
  text-align: center
}

td.col-sm.name {
  padding-left: 20px;
  text-align: left;
}

.btn.btn-light {
  margin: 0px 5px 0px 10px;
}
